@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.social-icons a {
    color: rgb(236, 72, 153);
  }
  
.social-icons a:hover {
    color: rgb(99, 102, 241);
  }

h2, p, ul {
    color: white;
}

.resultsTitle {
    padding: 1em;
}

#loading {
    display: none;
    font-size: 2em;
}

table {
    border-radius: 0.25rem;
    overflow: hidden;
    color: white;
    background-color: rgb(99, 102, 241, 0.5);
}

tr:nth-child(even) {
    background-color: rgb(168, 85, 247, 0.5);
}

img {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.bookDetails {
    background-color: rgb(236, 72, 153, 1);
    border-radius: 0.25rem;
    padding: 0.5em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    max-width: 70vw;
    max-height: 60vh;
    overflow-y: auto;
}

.bookDetails p {
    margin: 0.5em;
    padding: 0.5em;
}

.bookDetailsClose {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2em;
    padding: 5px;
    position: absolute;
    top: -10px;
    right: 10px;
}