@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: #1a202c;
    min-height: 100vh;
}

main {
    margin-top: 1em;
    margin-bottom: 1em;
}

h2, p, ul {
    color: white;
}

.resultsTitle {
    padding: 1em;
}

#loading {
    display: none;
    font-size: 2em;
}

table, tr {
    color: white;
    background-color: rgb(99, 102, 241, 0.3);
}

img {
    max-height: 6em;
    width: auto;
}